@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using WebExamMVC.Models
    @model List<SubjectModel>

    <h1>Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>
                    Actions
                    <p style="display: inline-block; margin-bottom: -5px;margin-left: 120px;">
                        <a asp-action="Create" class="btn btn-success">Create</a>
                    </p>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>
                        <a asp-action="Update" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
